<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/application.html}">

    <section layout:fragment="content">
        <div class="container-fluid bg-dark p-5">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto text-white">
                    <div class="display-4">Анализатор страниц</div>
                    <p class="lead">Бесплатно проверяйте сайты на SEO пригодность</p>
                </div>
            </div>
        </div>
    </section>
</html>